<!DOCTYPE html>
<html xmlns:th=" https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Inscription here</title>
<link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
 <div>
		<button type="button" class="btn btn-primary"  onclick="window.location.href = 'http://localhost:8080/';">Accueil</button>
		
	</div>
<h2>Inscription Etudiants</h2>
<form action="saisieEtudiant">
	<input type="text" name="nom"><br>
	<input type="text" name="branche"><br>
	<input type="submit" value="Envoyer"><br>
</form>
<br><br>

 <button type="button" class="btn btn-primary"  onclick="window.location.href = 'http://localhost:8080/listeEtudiant';">Voir la liste d'etudiants</button>

</body>
</html>